.title {
  font-size: 60px !important;
}

.aside-footnotes {
  font-size: 30px !important;
}

.wrap {
  width: 1365px;
  height: 1066px;
  padding: 0;
  overflow: hidden;
}

.scaled-frame {
  width: 1365px;
  height: 1066px;
  border: 5px;
   zoom: 0.75;
  -moz-transform: scale(0.75);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.75);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.75);
  -webkit-transform-origin: 0 0;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  .scaled-frame {
    zoom: 1;
  }
}

.wrap2 {
  width: 2048px;
  height: 1600px;
  padding: 0;
  overflow: hidden;
}

.scaled-frame2 {
  width: 2048px;
  height: 1600px;
  border: 5px;
   zoom: 0.5;
  -moz-transform: scale(0.5);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.5);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.5);
  -webkit-transform-origin: 0 0;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  .scaled-frame2 {
    zoom: 1;
  }
}
